.red{
    color: red;
}

.bg-bleu{
    background-color: rgb(7, 7, 105);
}

.text-white{
    color: whitesmoke;
}

.mb-50{
    margin-bottom: 50px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.w-30{
    width: 30%;
}

.txt-center{
    text-align: center;
}