*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.red{
    color: red;
}

.bg-bleu{
    background-color: rgb(7, 7, 105);
}

.bg-yellow{
    background-color: yellow;
}

.bg-red{
    background-color: red;
}

.text-white{
    color: whitesmoke;
}

.mb-50{
    margin-bottom: 50px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.w-30{
    width: 30%;
}

.txt-center{
    text-align: center;
}

.display-none{
    display: none;
}

.gao-16{
    gap: 16px;
}

.boite{
    width: 100px;
    height: 100px;
    border: 10px solid blueviolet;
}

/* profile utlisatuers */

.flex{
    display: flex;
    flex-wrap: wrap;

}

.space-between{
    justify-content: space-between;

}
.large-30{
    width: 30%;
}

.large-60{
    width: 60%;
}

.mt-20{
    margin-top: 20px;
}

.gap-32{
    gap: 32px;
}

.gap-12{
    gap: 12px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    background-color: rgba(12, 218, 163, 0.416);
    color: white;
    border-radius: 15px;
    padding: 12px;
     font-family: "Space Grotesk", sans-serif;
}